
<br><b>MafiEra Vote Tool 3000</b><br>
<br><b>Usage</b>: Append the thread ID of the mafia game that needs to be scraped to the end of this page's URL.<br>
Note that this tool scrapes the entire thread, and it may take a while to finish loading.<br>

<br><b>Examples</b>:<br>
<a href=https://frozen-refuge-64585.herokuapp.com/berserk-mafia-ot-ceremony-of-the-eclipse.3712>https://frozen-refuge-64585.herokuapp.com/berserk-mafia-ot-ceremony-of-the-eclipse.3712</a><br>
<a href=https://frozen-refuge-64585.herokuapp.com/buck-bumble-mafia-lets-rock.22251>https://frozen-refuge-64585.herokuapp.com/buck-bumble-mafia-lets-rock.22251</a><br>

<br>This tool brought to you by <b>Fireblend</b> :)<br>
