
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<style>
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffffff;
}
#content {
  margin-top: 110px;
  margin-left: 15px;
  overflow:auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>
<head>
  <title>MafiEra Vote Tool - Brought to you by Fireblend</title>
</head>
<body>
<div id="content">
    <div id="html_out">
      <img src="https://i.imgur.com/qld2OHP.png" alt="shrug" class="center"><br>
      The thread ID provided doesn't correspond to a Mafia game, or it hasn't started yet.<br><br>If you believe this is a tool error, contact your gamerunner and/or Fireblend!
    </div>
</body>
</body>
